@page
@model CorryongHealth1.Pages.FourMModel
@{
    ViewData["Title"] = "4M Form";
                            <h1>@ViewData["Title"]</h1>
                            <div>
                                     <table class="FxdTable">
                                        <tr>
                                            <td style="width:120px">
                                                <label id="lblPatientLabel" class="grdfontBold grdfont12">Patient: </label>
                                                <input type="hidden" id="hfPatientId" value="">
                                                <input type="hidden" id="hfFormId" value="">
                                                <input type="hidden" id="hfReportId" value="">
                                                <input type="hidden" id="hfEditStatus" value="0">
                                            </td>
                                            <td style="width:560px">
                                                <label id="lblPatient" class="grdfont12">Patient Id</label>
                                            </td>
                                            <td style="width:160px" class="grdfont grdfont10 grdRowTextAligCenter">
                                                <input type="button" id="btnSave" onclick="SaveFormInfo();" value="Save" class="grdfont grdfont10 grdRowTextAligCenter" />
                                            </td>
                                            <td style="width:160px" class="grdfont grdfont10 grdRowTextAligCenter">
                                                <input type="button" id="btnPdf" onclick="GetFormPdf();" value="Create PDF" class="grdfont grdfont10 grdRowTextAligCenter" />
                                            </td>
                                        </tr>
                                    </table>
                                    <div id="divMainContainer">
                                        <div id="divMainContainerHdr">
                                        </div>
                                        <div id="divMainContainerBody" style="overflow:auto ; height: 600px">
                                        </div>
                                    </div>
                            </div>
    <div id="fade"></div>
    <div id="modal" style="width:100px; height:100px;">
        <img id="loader" src="images/loading.gif"/>
    </div>
}

@section scripts{
    <script type="text/javascript" src="~/js/Forms.js"></script>

    <script>


        $(document).ready(PreparePage());

        function PreparePage()
        {
            var sUser = getCookie('LoggedInUser');
            SetObjectValue('lblLoggedInUser', 'Logged in user: ' + sUser);

            var sID = getCookie('PatientId');
            SetObjectValue('lblPatient', sID);

            fetch("api/getform/" + sID + "/1")
                .then(response => response.json())
                .then(result => { PopulatePage(result); });
        }

    </script>
}
