@page
@model IndexModel
@{
    ViewData["Title"] = "Patient Search";
            <div class="text-center">
                <h1 class="display-4">Corryong Health</h1>
                <p>Managing the health and wellbeing throughout the greater Corryong region.</p>
            </div>
            <div id="divMainContainer" class="text-center">
                <div id="divMainContainerSearch">
                </div>
                <div id="divMainContainerResults">
                </div>
            </div>
}

@*@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
*@

@section scripts{
    <script type="text/javascript" src="~/js/Home.js"></script>
    <script>


//        document.addEventListener('DOMContentLoaded', () => { addButtonListeners(); });
        //$(document).ready(function () {
        //    addButtonListeners();
        //});


        $(document).ready(PreparePage());

        function PreparePage()
        {
            //Put this back in when we have the Person page reactivated
            /*
            var anchorPerson = document.getElementById("pgPerson");
            anchorPerson.style.pointerEvents="none";
            anchorPerson.style.cursor="default";
            anchorPerson.className += ' disabled';
            */

            var anchor4M = document.getElementById("pg4M");
            anchor4M.style.pointerEvents = "none";
            anchor4M.style.cursor = "default";
            anchor4M.className += ' disabled';

            GetLoggedInUser();

//            sURL = sURL.replace("Index", "Bed");
            

        }

        function GetLoggedInUser()
        {
            fetch("api/getloggedinuser")
                .then(response => response.json())
                .then(result => { SetUserAtTop(result); });

        }

        function SetUserAtTop(result)
        {
            setCookie('LoggedInUser', result.sLoggedInUser);
            SetObjectValue('lblLoggedInUser', 'Logged in user: ' + result.sLoggedInUser);
            BuildSearchBlock();
            //OpenForm(); //Remove this after basic testing
        }

        function OpenForm()
        {
            setCookie('PatientId', 7);

            //Redirect to the selected page
            var sURL = window.location.href;
            sURL += 'FourM';
            window.location = sURL;
        }


    </script>
}